<div id="about_container">
  <div class="avatar_image"><%= image_tag("https://s3-us-west-1.amazonaws.com/couchfoodie/app_assets/avatar_round.png") %>
  </div>
  <div class="about_text">
    <p>Hi, I'm Stephens Xu, developer for Couchfoodie, I aim to build meaningful things that can enrich our lives. I wished there could be a platform that allows people to socialize with cooking; a place to gap supply and demand for home cooked meals. I've witnessed friends, family and neighbors host such events, I've personally attended many and enjoyed them much. So I built Couchfoodie, hoping that this would be a tool to prevail such culture, to encourage socializing in a more personalized way.</p>
    <p>Comments or suggestions? Please email couchfoodie@couchfoodie.io </p>
  </div>
</div>
