<div id="home_page">
  <div class="welcome_message">
    <h1>Welcome to Couchfoodie</h1>
    <p>A place to share your cookings, with someone that would appreciate them.</p>
    <button data-my-modal="#sign_up_modal" data-toggle="modal" class="button_large">
      Join Us
    </button>
  </div>
  <div class="message_for_host">
    <h2>Do you enjoy cooking?</h2>
    <p>Create a Home Kitchen; tell people where you are, what you typically cook and when is convenient. Welcome neighbors and guests that would appreciate your food and make some new friends. In return, your guests will express gratitude in their own way! </p>
    <button data-my-modal="#sign_up_modal" data-toggle="modal" class="button_large">
      Get Started
    </button>
  </div>
  <div class="message_for_guest">
    <h2>Are you hungry?</h2>
    <p>You'd like to eat healthy but stressed out about cooking? Maybe it isn't so much a problem for your neighbor. See if there are any Home Kitchens around you that are willing to share their food. Remember, hosts invite you out of their kindness. Make sure to show your appreciation in some way; at the minimum, make a donation that covers the cost of ingredient.</p>
    <button data-my-modal="#sign_up_modal" data-toggle="modal" class="button_large">
      Find Kitchens
    </button>
  </div>
</div>
