<div class="my_kitchen_list">

  <div class="user_page_notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <div class="title">
    <h2>My Kitchens</h2>
  </div>

  <div class="no_kitchen_message">
    <p>You have no kitchen yet! Get started by <%= link_to "Create Kitchen", new_kitchen_path %></p>
  </div>
  
</div>
