<div class="user_reservations_all">
  <div class="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
  
  <div class="reservation_all">
    <%= link_to "Pending host decision (#{@reservations_pending.count})", reservations_pending_users_path %><br>
    <%= link_to "Approved by host (#{@reservations_approved.count})", reservations_approved_users_path %><br>
    <%= link_to "Denied by host (#{@reservations_denied.count})", reservations_denied_users_path %>
  </div>
</div>
