<div class="user_reservations_all">
  <div class="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
  
  <div class="reservatinn_all">
    <%= link_to "Pending reservations (#{@reservations_pending.count})", reservations_pending_users_path %><br>
    <%= link_to "Approved reservations (#{@reservations_approved.count})", reservations_approved_users_path %><br>
    <%= link_to "Denied reservations (#{@reservations_denied.count})", reservations_denied_users_path %>
  </div>
</div>
