<div class="user_reservations_all">
  <div class="user_page_notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
  
  <div class="reservation_all">
    <ul>
      <li><%= link_to "Waiting for kitchen reply (#{@reservations_pending.count})", reservations_pending_users_path %></li>
      <li><%= link_to "Approved by kitchen (#{@reservations_approved.count})", reservations_approved_users_path %></li>
      <li><%= link_to "Denied by kitchen (#{@reservations_denied.count})", reservations_denied_users_path %></li>
    </ul>
  </div>
</div>
