<%= form_for(:session, :url => login_path, :method => :post) do |f| %>
  <table class="sign_in_table", cellspacing="20">
    <tr>
      <td align="left"><span class="login_table_content">Login with Email</span></td> 
      <td><%= f.text_field(:email, :placeholder => "Email", :class => "input_box")%></td>
    </tr>
    <tr>
      <td align="left"><span class="login_table_content">Password</span></td>
      <td><%= f.password_field(:password, :placeholder => "password", :class => "input_box")%></td>
    </tr>
  </table><br>
    <%= f.submit "Login", :class => "button" %>
<% end %>
