  <div id="front_page_modal">
    <div id="content">

      <!-- Button trigger modal -->
      <ul class="modal-button-list">
        <li>
          <button data-my-modal="#sign_up_modal" data-toggle="modal" class="button_normal">
            Sign Up
          </button>
        </li>
        <li>
          <button data-my-modal="#user_modal" data-toggle="modal" class="button_normal">
            Log in
          </button>
        </li>
      </ul>

      <div class="my-modal" id="sign_up_modal">
        <div class="cool-container">
          <div class="my-modal-background"></div>
          <div class="my-modal-content">
            <a href="#" class="my-modal-close">[X]</a>
            <h2>Sign Up modal</h2>
            <%= render :partial => "users/sign_up_form", :locals => { :user => User.new } %>
          </div>
        </div>
      </div>

      <div class="my-modal" id="user_modal">
        <div class="cool-container">
          <div class="my-modal-background"></div>
          <div class="my-modal-content">
            <a href="#" class="my-modal-close">[X]</a>
            <h2>Sign In modal</h2>
            <%= render :partial => "shared/login_form", :locals => { :user => User.new } %>
          </div>
        </div>
      </div>
    </div>
  </div>
