<div id="photo_upload_modal">
  <div class="waiting_modal" id="photo_modal">
    <div class="modal-container">
      <div class="waiting_modal_background">
      </div>
      <div class="waiting_modal_content">
        We are uploading your photo, you will be redirected shortly. Thanks for your patience!
      </div>
    </div>
  </div>
</div>
