<div class="reservation_new">

  <h2>Make a reservation</h2>

  <%= render partial: "reservations/new_reservation_form", 
  :locals => { :reservation => @reservation, :kitchen => Kitchen.find(params[:kitchen_id]) } %>

  <%= link_to 'Home', root_url %>
</div>
