<div itemscope itemtype="http://schema.org/Person">
  <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span class="city" itemprop="addressLocality">
      <%= kitchen.city %>
    </span>
    <span class="state" itemprop="addressRegion">
      <%= kitchen.state %>
    </span>
    <span class="zipcode" itemprop="postalCode">
      <%= kitchen.zipcode %>
    </span>
  </div>
</div>
