<div class="header">
<h1 class="header"><%= render partial: "shared/header_logged_in" %></h1>
</div>

<div class="new_kitchen">
  <h2>Edit my own kitchen</h2>

  <%= render partial: "new_kitchen_form", locals: { :kitchen => @kitchen } %>

</div>
