<div class="new_kitchen">
  <h2>Edit my own kitchen</h2>

  <h3><%= link_to 'Edit Photos', kitchen_photos_path(@kitchen) %></h3>

  <%= render partial: "new_kitchen_form", :locals => { :kitchen => @kitchen } %>

</div>
