<div class="user_login">

  <h2>Please login to see more</h2>

  <div class="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <%= render :partial => "shared/modal" %> 

</div>
