<div class="user_login">
  <h2>Please login to see more</h2>
  
  <%= render partial: "shared/login_form" %>

  <div class="notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <h2>Or <%= link_to("Sign up", new_user_path) %></h2>
</div>
