<div class="welcome_message">
  <h1>Welcome to Couchfoodie</h1>
  <p>A place to share your cookings, with someone that would appreciate them.</p>
  <button data-my-modal="#sign_up_modal" data-toggle="modal" class="button_large">
    Join Us
  </button>
</div>

<div class="message_for_host">
  <h2>Do you enjoy cooking?</h2>
  <p>Create a "Home Kitchen"; tell us where you are, what you typically cook and when is convenient.
     Welcome someone that would appriciate your food and make a few new friends. </p>
</div>
