<div class="index_page">
  <div class="kitchen_index_cover_image">
  </div>

  <div class="index_page_intro">
    <h2>Discover Kitchens in your neighbourhood</h2>
  </div>

  <div class="index_page_body">
    <%= render 'kitchens/kitchen_list', :kitchens => @kitchens %>
  </div>
</div>
