<div class="index_page_body">
  <div class="user_page_notice">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>
  <%= render 'kitchens/kitchen_list', :kitchens => @kitchens %>
  
</div>
