<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="font-size: 30px; color: #3B3F7D">Hello, <%= @user.first_name %></h1>
    <p style="font-size: 25px; color: #3B3F7D">
      Someone have made an reservation to your kitchen on <a href="http://couchfoodie.io" target="_blank">Couchfoodie</a>
    </p>
    <p style="font-size: 25px; color: #3B3F7D">
      Click <a href="http://couchfoodie.io/users/kitchens" target="_blank">here</a> to login the site and see the reservation details.
    </p>
    <p style="font-size: 25px; color: #3B3F7D">Thanks for being with us, enjoy rest of your day!</p>
    <footer style="font-size: 20px; color: #3B3F7D">- Couchfoodie </footer>
  </body>
</html>
