<li class="clearfix unprocessed_photo">
  <div class="transparant">
    <p class="explaination">This photo is being processed by the server and it could take up to a minute to complete, we appreciate your patience!</p>
  </div>
</li>
