<div class="photos_display_page">
  <ul class="photo-list">
    <% if @photos.empty? %>
      <h3>No photos. :(</h3>
    <% else %>
      <% @photos.each do |photo| %>
        <li>
          <div class="single_photo">
            <%= image_tag(photo.picture.gallery_fill.url) %>
          </div>
          <div class="photo_edit_buttons">
            <% if photo == photo.kitchen.front_page_photo %>
              <p class="photo_description">This is cover photo</p>
            <% else %>
              <%= button_to "Delete", { :controller => :photos, :action => "destroy", :id => photo.id }, 
                                        :method => :delete, :class => "button_normal" %>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
