<div class="photo_new">

  <div class="content">

    <h2>Add a photo</h2>

    <%= render partial: "photos/new_photo_form", 
    :locals => { :photo => Photo.new, :kitchen => Kitchen.find(params[:kitchen_id]) } %>
  </div>

</div>
