/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.edit_kitchen_page {
  padding-left: 15em;

  form.button_to {
    margin-right: 3em;
    text-align: right;
  }
}
