/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

footer {
  text-align: center;
  padding: 200px 0;
  background-image: image-url("restaurant_icons.png");
}


/* BEGIN CSS Sticky Footer */

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

.footer, .push {
  height: 40px;
  clear: both;
}

/* END CSS Sticky Footer */
