/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

footer {
  text-align: center;
}

/* BEGIN CSS Sticky Footer */

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 40px;
  clear: both;
  padding-top: 20px;
}

/* END CSS Sticky Footer */
