/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#logged_in_header {
  height: 4em;
  padding-left: 1em;
  font-size: 20px;
}

#logged_in_nav_list {
  padding-right: 10px;
  font-weight: bold;
  font-size: 15px;
}

#logged_in_nav_list li a {
  color: #386FD4;
}

#logged_in_nav_list li a:hover { 
  color: #fff; 
  background-color: #3B3F7D; 
}
