/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#logged_out_header {

  nav {
    float: right;

    li {
      display: inline;
      border-left: 1px solid #000;
      padding-left: 6px;
    }

    li:first-child {
      border-left: none;
    }
  }
}

#logged_in_header {
  padding: 0 100px 0 0;
  height: 100px;
  font-size: 20px;
  font-weight: bold;

  .home_link {
    float: left;
    margin: 25px 0 0 0;
    padding: 0 0 0 100px;
    width: 150px;
    height: 50px;
    line-height: 50px;
  }

  nav > li {
    height: 100px;
    line-height: 100px;
  }

  nav {
    margin: 0;
    padding: 0 0 0 0;
    float: right;
    height: 100px;

    .header_menu {
      height: 50px;
      line-height: 50px;
    }

    #logged_in_nav_list {
      margin: 25px 0 0 0;
      font-weight: bold;
      font-size: 20px;
      display: block;

      .user_image_circle_container {
        img {
          border-radius: 100px;
          border: solid 1px #386FD4;
          vertical-align: middle;
          height: 40px;
          width: 40px;
        }

        .user_first_name {
          padding: 0 5px;
        }
      }

      .drop_down_trigger {
        float: right;
        list-style: none;
        float: left;
        position: relative;
        display: block;
        padding: 0;
        margin: 0 20px 0 20px;

        .drop_down_list {
          z-index: 2;
          font-size: 16px;
          position: absolute;
          display: none;
          list-style: none;
          margin: 0;
          padding: 10px 10px 10px 10px;
          background-color: #DBEDFF;
          line-height: 1.5em;

          li {
            width: 300px;
          }
        }
      }

      li a {
        color: #386FD4;
      }

      li a:hover { 
        color: #fff; 
        background-color: #3B3F7D; 
      }
    }

    #logged_in_nav_list > li {
      display: inline;
    }
  }
}

@media (max-width: 950px) {
  header {
    width: 750px;
  }
}
