/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#front_page_modal {

  .my-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;

    display: none;  
    height: 100%;
    width: 100%;
  }

  .modal-button-list {
    list-style-type: none;
    margin: 0;

    #site_name {
      font-weight: bold;
      font-size: 25px;

      .beta {
        font-size: 12px;
      }
    }
  }

  .my-modal .my-modal-background {
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
  }

  .my-modal {
    float: right;
  }

  .my-modal .my-modal-content {
    position: fixed;
    top: 25%;
    left: 50%;
    z-index: 9020;

    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.3);
    padding: 40px;
    margin-left: -200px;
    width: 400px;

    a:hover {
      background-color: white;
    }
  }
}

@media (max-width: 1136px) {
  header {
    .button_small {
      font-size: 16px;
    }
  }
}
