/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.kitchen_show_page_body {
  margin: 0;
  padding: 0;

  .kitchen_cover_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;
  }

  .kitchen_info {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
    height: 400px;

    .description_wrapper {
      float: left;
      font-size: 15px;
      margin: 0;
      padding: 0;
      width: 500px;
      height: 400px;
      .owner_info {
        text-align: center;
        float: left;
        .owner_photo {
          img {
            border-radius: 100px;
            height: 100px;
            width: 100px;
          }
        }
      }
      .kitchen_description {
        float: left;
        vertical-align: top;
        .description_list {
          list-style: none;
          margin: 0;
          padding: 0 0 0 50px;
          line-height: 2em;
          width: 350px;
          .kitchen_name {
            font-weight: bold;
          }
        }
      }
      .additional_description {
        float: left;
        width: 500px;
        margin: 0;
        padding: 50px 0 0 0;
        p {
          line-height: 2em;
          .strong {
            font-weight: bold;
          }
        }
      }
    }

    .reservation_container {
      float: right;
      width: 410px;
      height: 400px;
      height: 400px;
    }
  }

  .kitchen_photos {
    padding: 0 0 400px 0;

    .photo_list {
      padding: 0;
      margin: 0 auto;
      width: 1260px;
      list-style: none;

      li {
        float: left;
        padding: 15px 15px 0 15px;
        width: 600px;
        height: 450px;
      }
    }
  }
}

@media (max-width: 1900px) {

  .kitchen_show_page_body {
    .kitchen_cover_image {
      height: 500px;
    }
  }
}

@media (min-width: 1900px) {

  .kitchen_show_page_body {

    .kitchen_cover_image {
      height: 700px;
    }

    .kitchen_info {
      width: 60%;

    }
  }
}

@media (max-width: 1200px) {
  .kitchen_show_page_body {
    .kitchen_info {
      width: 950px;
    }
  }
}
