/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.kitchen_index_cover_image {
  background-image: image-url("home_dining_2_crop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.user_page_notice {
  position: absolute;
  color: green;
  font-weight: bold;
  font-size: 20px;
  top: 15%;
  left: 70%;
  text-align: center;
  z-index: 1;
}

.index_page_body {
  padding: 0px 0 500px 0px;
}

.index_page_intro {
  h2 {
    padding: 100px 0 100px 0;
    margin: 0;
    text-align: center;
  }
}

.kitchen_index_list {
  list-style-type: none;
  width: 1110px;
  margin: 0 auto;
  padding: 0;

  .kitchen_container {
    float: left;

    margin: 40px 10px 0 10px;
    padding: 0;
    width: 350px;
    height: 370px;

    .kitchen_host_photo {
      float: right;
      padding: 15px 0 0 0;

      img {
        border-radius: 100px;
        border: solid 1px #386FD4;
        height: 50px;
        width: 50px;
      }
    }

    .thumbnail_container {
      margin: 0;
      padding: 0;
      width: 350px;
      height: 263px;

      a:hover {
        background-color: transparent;
        text-decoration: none;
      }

      a.darken {
        background: black;
        display: inline-block;
        padding: 0;
      }

      a.darken img {
        display: block;
        transition: all 0.2s linear;
      }

      a.darken:hover img {
        opacity: 0.8;
      }

    }

    h3 {
      margin: 0px 0 0px 0;
      padding-top: 10px;
      text-align: center;
      border: 0;
      font-size: 20px;
      vertical-align: center;

    }

    .kitchen_description {
      list-style-type: none;
      padding: 15px 0 0 0px;
      line-height: 25px;
      font-weight: bold;
      font-size: 15px;
    }

  }

  p {
    margin: 0 0 0 0;
    padding: 10px 0 0 0;
    text-align: center;
    vertical-align: top;
  }

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 1900px) {
  .index_page {

    .kitchen_index_cover_image {
      height: 500px;
    }
  }
}

@media (min-width: 1900px) {
  .index_page {

    .kitchen_index_cover_image {
      height: 700px;
    }
  }
}

@media (max-width: 1136px) {
  .kitchen_index_list {
    list-style-type: none;
    width: 740px;
    margin: 0 auto;
    padding: 0;
  }
}
