/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

html *{
  font-family: 'Signika', sans-serif !important;
  color: #3B3F7D;
}

nav {
  float: right;
}

header {
  margin-top: 2em;
  margin-left: 2em;
}

footer {
  text-align: center;
}

a { color: #55acee; }
a:visited { color: purple; }
a:hover { color: #fff; background-color:#3B3F7D; }

table {
  border-spacing: 5px;
}

td {
  padding: 0.5em;
}

.user_login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 40em;
  line-height: 1.8em;
}

.registration_form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 40em;
  line-height: 1.5em;
}

.my_kitchen_list {
  margin-right: auto;
  line-height: 2em;
  text-align: center;
}

.notice {
  float: left;
  color: green;
  font-weight: bold;
  margin-bottom: 3em;
}

.new_kitchen {
  margin-left: auto;
  margin-right: auto;
  width: 25em
}

.header {
  margin-bottom: 3em;
  font-size: 20px;
}

.user_reservations_all {
  margin-top: 3em;
	text-align: center;
  font-size: 30px;
  line-height: 3em;
}

.reservation_all {
  margin-top: 3em;
}

.individual_kitchen {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  line-height: 1.8em;
}

.kitchen_reservations_in_kitchen_block {
  line-height: 1.8em;
}

.reservation_approval_form {
  margin-top: 1em;
}
