/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.individule_kitchen {
  line-height: 1.5em;
}

.kitchen_reservations_in_kitchen_block {
  line-height: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 20px;
}

.kitchen_buttons {
  line-height: 0;
}

.my_kitchen {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.my_kitchen dl {
  clear: both;
  float: left;
  width: 100%;
  padding-right: 3em;
  padding-top: 3em;
  margin: 0;
}

.my_kitchen .individule_kitchen_info {
  margin-bottom: 20px;
}

.my_kitchen .individule_kitchen_info dt {
  clear: left;
  float: left;
}

.my_kitchen .individule_kitchen_info dd {
  float: left;
  margin-bottom: 8px;
  margin-left: 5px;
}

.individule_kitchen {
  padding-left: 10em;
  padding-bottom: 3em;
}
