/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.individule_kitchen {
  text-align: center;
  line-height: 1.5em;
}

.kitchen_reservations_in_kitchen_block {
  line-height: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 20px;
}

.kitchen_buttons {
  line-height: 0;
}
