/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.my_kitchen_list {
  margin: 0;
  padding: 0 0 300px 0;

  .title {
    text-align: center;
  }

  .my_kitchens {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .title {
      text-align: center;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .single_kitchen {
      width: 600px;
      margin: 0 auto 100px auto;
      padding: 80px 80px 80px 80px;
      font-size: 18px;
      box-shadow: 10px 10px rgba(185, 187, 187, 0.46);
      background-color: #CDEEEC;
      .kitchen_reservations_in_kitchen_block{
        padding-top: 40px;
        line-height: 1.5em;
      }
      .single_kitchen_info {
        margin-bottom: 20px;
      }
      .kitchen_name {
        font-weight: bold;
        padding-bottom: 20px;
      }
      .menu {
        line-height: 2em;
      }
      .button_normal {
        margin: 40px 0 0 0;
      }
    }
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.thumbnail_container {
  margin: 0;
  padding: 0;
  width: 350px;
  height: 263px;

  a:hover {
    background-color: transparent;
    text-decoration: none;
  }

  a.darken {
    background: black;
    display: inline-block;
    padding: 0;
  }

  a.darken img {
    display: block;
    transition: all 0.2s linear;
  }

  a.darken:hover img {
    opacity: 0.8;
  }
}

.thumbnail_placeholder {
  border: 1px solid #386FD4;
  ul.buttons {
    text-align: center;
    margin-top: 35px;
    .button_normal {
      font-size: 18px;
    }
  }
}
