/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.new_kitchen {
  margin-left: auto;
  margin-right: auto;
  padding: 3em 3em 3em 3em;
  width: 70%;
  line-height: 1.5em;
}

.new_kitchen h2 {
  text-align: center;
}
