/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.new_kitchen {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 70%;
  background-image: image-url("food.png");


}

.new_kitchen h2 {
  text-align: center;
}
