// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border: 1px solid black;
    float: left;
    margin-right: 18px;
    margin-bottom: 60px;
    width: 600px;
    height: 450px;
  }
}

.photos_display_page {
  .photo-list {
    margin: 1em 0em 1em 1em;
  }
}

.photo_new {
  
  .content {
    width: 20em;
    margin: 4em auto;
    line-height: 5em;
  }

}
