/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.reservations_list {
  height: 100%;
}

.reservations_list h2 {
  text-align: center;
  margin: 0;
  padding: 30px 0 30px 0;
  font-size: 30px;
}

.kitchen_reservations_list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 300px 0;

  .single_reservation {
    width: 600px;
    margin: 0 auto 100px auto;
    font-size: 18px;
    box-shadow: 10px 10px rgba(185, 187, 187, 0.46);
    background-color: #CDEEEC;

    .description_list {
      margin: 0;
      padding: 80px 80px 80px 80px;
      list-style: none;
      line-height: 2em;

      .title {
        font-weight: bold;
      }

      .address {
        font-style: italic;
      }

      .kitchen_info {

        .images {
          .kitchen_image {
            padding-right: 20px;
            img {
              width: 120px;
              height: 120px;
              border-radius: 1000px;
            }
          }
          .kitchen_user_image {
            height: 50px;
            line-height: 50px;
            img {
              width: 50px;
              height: 50px;
              border-radius: 1000px;
            }
          }
          a:hover {
            background-color: transparent;
          }
        }

        .kitchen_name {
          font-weight: bold;
        }
      }
    }
  }
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.reservation_approval_form {
  margin-top: 1em;
}
