/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.reservations_list {
  height: 100%;
}

.reservations_list h2 {
  text-align: center;
  font-size: 30px;
}

.kitchen_reservations_list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .single_reservation {
    padding-left: 10em;
    border-top: solid 1px #3B3F7D;
    border-bottom: solid 1px #3B3F7D;
  }

  .single_reservation_info dt {
   clear: left;
    float: left;
  }

  .single_reservation_info dd {
   float: left;
    margin-bottom: 8px;
    margin-left: 5px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.kitchen_reservations_list dl {
  clear: both;
  float: left;
  width: 100%;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: 0;
}

.user_reservations_all {
  margin-top: 3em;
  text-align: center;
  font-size: 30px;
  line-height: 3em;
}

.reservation_all {
  margin-top: 3em;
}

.reservation_new {
  margin: auto;
  padding-top: 2em;
  width: 50%;
  line-height: 1.5em;
}

.reservation_approval_form {
  margin-top: 1em;
}
